.top-heading{
    color: rgba(18, 230, 99, 0.835);
    font-size: 60px;
    padding: 15px;
    border-radius: 15px;
}
.heading-img{
    width:5%;
}
.top-img img{
    height:730px;
    border-radius: 15px;
} 
.disply,.saveDisply{
    width:350px;
    margin: auto;
    margin-top:10px ;
    margin-bottom:10px;
    padding: 7px;
    border-radius: 15px;
    font-size: 20px;
    color: rgb(68, 54, 54);

}
.disply:first-child{
    background-color: rgb(255, 253, 127);
}
.disply:last-child{
    background-color: aquamarine;
}

.saveDisply:first-child{
    background-color: rgb(91, 230, 223);
}
.saveDisply:last-child{
    background-color: aquamarine;
}
.feedback{
    display: none;
}
.active{
    display: block;
    color: red;
}

/*Media Queries*/
/*Mobile Device*/
@media only screen and (max-width:688px){
    .top-heading{
        font-size:30px;
    }
    .top-img img{
        height:300px;
    } 
    .savestyle{
        margin-top:50px !important;
    }
}